.thumbnail{
  width: 70px;
  height: 60px;
  margin-top: 0px;
}
.name{
  font-weight: bold;
  margin-top: 3px;
  font-size: 11px;
  margin-bottom: 0px;
}
.frnds{
  color: rgb(205, 196, 196);
  font-size: 5px;
  margin-top: 3px;
}
.request{
  background-color: rgb(92, 92, 247);
  color: white;
  border-style: none;
  background-size: 5px;
  height: 26px;
  font-size: 10px;
  
}
.card{
  display: inline-block;
  margin-right: 10px;
  
}

